body {
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color:#282425;
    margin:0;
}

.menu,.paticka {
    background-color: #282425;
    color:white;
    text-align: center;
}

.foto_adely{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 0 15px 15px 0;

}
.fotogalerie, .kontakt {
    background-color: #f9e3d0;
}


.foto-kontakt {
border-radius: 50px 0 50px 50px;
float: left;
margin: 0 30px 30px 0;
/*padding: 0 30px 0 0;*/
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}


h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic
}



a {
font-style:italic
}


h1,h2,h3,
a {
color: #756158
}

h1 {
font-size: 80px;
text-align:center;
color:white;
margin:0;
}


h2 {
font-size:48px;
text-align: center;
margin-top:0;
}


h3 {
font-size: 24px;
margin-top:36px;
}

.paticka {
padding:20px 0
}


section {
padding: 50px 15%;
overflow: auto;
}

.menu {
margin:0;
padding:0;
}

.fotogalerie img {
    width: 32%;
    border: 0px solid #756158;
    border-radius: 3px;
}












/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
