body {
    background-color: #fff1e6;
}

.menu,.paticka {
    background-color: #fff1e6;
}

.fotogalerie, .kontakt {
    background-color: #f9e3d0;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
